<ng-container *ngIf="form" [formGroup]="form">

  <div class="container-fluid p-0 d-flex flex-column justify-content-between">

    <nz-collapse>
      <ng-template #experimentExtraTpl>
        <!-- You can use stopPropagation if you don't want the panel to toggle -->
        <button nz-button nzDanger nzType="default" nzSize="small" (click)="$event.stopPropagation()">
          <span nz-icon nzType="delete">
          </span>
        </button>
      </ng-template>
      <ng-template #experimentHeader>
        <h4 nz-typography nzEditable [(nzContent)]="experiment" class="m-0" (click)="$event.stopPropagation()"></h4>
      </ng-template>
      <nz-collapse-panel [nzHeader]="experimentHeader" [nzActive]="true" [nzExtra]="experimentExtraTpl">

        <div class="row">

          <ng-container *ngFor="let control of formControls | async">
            <ng-container [ngSwitch]="control.type">

              <ng-container *ngSwitchCase="'text'">
                <div nz-form nzLayout="vertical" class="col-4">
                  <nz-form-item>
                    <nz-form-label [nzSpan]="null" [nzTooltipTitle]="tooltipTemplate" [nzTooltipIcon]="tooltipIcon">
                      {{ control.name }}
                    </nz-form-label>
                    <nz-form-control [nzSpan]="null">
                      <input nz-input formControlName="{{ getFormControlName(control) }}"
                             type="text" [placeholder]="control?.placeholder">
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </ng-container>

              <ng-container *ngSwitchCase="'number'">
                <div nz-form nzLayout="vertical" class="col-4">
                  <nz-form-item>
                    <nz-form-label [nzTooltipTitle]="tooltipTemplate" [nzTooltipIcon]="tooltipIcon">
                      {{ control.name }}
                    </nz-form-label>
                    <nz-form-control>
                      <input nz-input formControlName="{{ getFormControlName(control) }}"
                             type="number" [placeholder]="control?.placeholder">
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </ng-container>

              <ng-container *ngSwitchCase="'checkbox'">
                <div nz-form nzLayout="vertical" class="col-4">
                  <nz-form-item>
                    <nz-form-label [nzTooltipTitle]="tooltipTemplate" [nzTooltipIcon]="tooltipIcon">
                      {{ control.name }}
                    </nz-form-label>
                    <nz-switch formControlName="{{ getFormControlName(control) }}"/>
                  </nz-form-item>
                </div>
              </ng-container>

              <ng-container *ngSwitchCase="'radio'">
                <div nz-form nzLayout="vertical" class="col-4">
                  <nz-form-item>
                    <nz-form-label [nzTooltipTitle]="tooltipTemplate" [nzTooltipIcon]="tooltipIcon">
                      {{ getFormControlName(control) }}
                    </nz-form-label>
                    <nz-form-control>
                      <nz-radio-group formControlName="{{ getFormControlName(control) }}">
                        <label *ngFor="let label of control.labels" nz-radio [nzValue]="label.value">
                          {{ label.name }}
                        </label>
                      </nz-radio-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </ng-container>

              <ng-container *ngIf="control.type === 'group'">
                <ng-container *ngFor="let field of control.fields">
                  <div nz-form nzLayout="vertical" class="col-4">

                    <ng-container *ngIf="field.type === 'number'">
                      <nz-form-item [formGroupName]="control.name">
                        <nz-form-label [nzTooltipTitle]="controlInGroupTooltip" [nzTooltipIcon]="tooltipIcon">
                          {{ field.name }}
                        </nz-form-label>
                        <nz-form-control>
                          <input nz-input formControlName="{{ getFormControlName(field) }}"
                                 [type]="field.type"
                                 [placeholder]="field.name">
                        </nz-form-control>
                      </nz-form-item>
                    </ng-container>

                    <ng-template #controlInGroupTooltip>
                      <ng-container *ngIf="field?.placeholder">
                        <strong [innerHTML]="formatDescriptionForTooltip(field.placeholder!)"></strong>
                        <br>
                      </ng-container>
                      <span [innerHTML]="formatDescriptionForTooltip(field.description!)"></span>
                    </ng-template>

                  </div>
                </ng-container>
              </ng-container>

            </ng-container>

            <ng-template #tooltipTemplate>
              <ng-container *ngIf="control?.placeholder">
                <strong [innerHTML]="formatDescriptionForTooltip( control.placeholder!)"></strong>
                <br>
              </ng-container>
              <span [innerHTML]="formatDescriptionForTooltip(control.description!)"></span>
            </ng-template>

          </ng-container>

        </div>

        <div class="row">
          <div class="col-12">
            <nz-collapse [nzExpandIconPosition]="expandIconPosition">
              <nz-collapse-panel
                [nzHeader]="rastersTemplate"
                [nzActive]="true"
                [nzExtra]="extraTpl">

                <div class="row">
                  <ng-container *ngFor="let control of formControls | async">

                    <ng-container *ngIf="control.type === 'file'">
                      <div nz-form nzLayout="vertical" class="col-4">
                        <nz-form-item>
                          <nz-form-label [nzTooltipTitle]="tooltipTemplate" [nzTooltipIcon]="tooltipIcon">
                            {{ control.name }}
                          </nz-form-label>
                          <nz-form-control>
                            <nz-select formControlName="{{ getFormControlName(control) }}"
                                       [nzPlaceHolder]="control?.placeholder!">
                              <nz-option nzValue="option1" nzLabel="Option 1"></nz-option>
                              <nz-option nzValue="option2" nzLabel="Option 2"></nz-option>
                            </nz-select>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                    </ng-container>

                    <ng-template #tooltipTemplate>

                      <ng-container *ngIf="control?.placeholder">
                        <strong class="text-center"
                                [innerHTML]="formatDescriptionForTooltip( control.placeholder!)"></strong>
                        <br>
                      </ng-container>
                      <span [innerHTML]="formatDescriptionForTooltip(control.description!)"></span>

                    </ng-template>

                  </ng-container>
                </div>

              </nz-collapse-panel>

              <ng-template #rastersTemplate>
                <div class="d-flex justify-content-center align-items-center">
                  <h3 class="m-0">Raters</h3>
                  <span class="cursor-help ml-2" nz-icon nz-tooltip nzTooltipTitle="Info" nzType="info-circle"
                        nzTheme="twotone"></span>
                </div>
              </ng-template>

            </nz-collapse>

            <ng-template #extraTpl>
              <!-- You can use stopPropagation if you don't want the panel to toggle -->
              <button nz-button nzType="primary" nzShape="round" (click)="$event.stopPropagation()">
                <span nz-icon nzType="download"></span></button>
            </ng-template>
          </div>
        </div>

      </nz-collapse-panel>
    </nz-collapse>

    <div class="row">
      <div class="col">
        <div class="mt-4 d-flex justify-content-end">
          <button class="mr-4" nz-button nzType="default" (click)="saveExperimentForm()">
            Save experiment params
          </button>
          <button nz-button nzType="primary">
            Start modeling
          </button>
        </div>
      </div>
    </div>

  </div>


</ng-container>
