<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="http://localhost:4200/" target="_blank">
        <img src="https://www.landslidemodels.org/symbols/logo_avaflow.png" alt="logo">
        <h1>r.avaflow</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Projects" nzIcon="folder">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Cascadia Generic Landscape</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Acheron Rock Avalanche</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <button nz-button nzType="dashed">Create new project</button>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Info" nzIcon="question-circle">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>About r.avaflow</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>About this app</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Help</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header d-flex">
        <span class="header-trigger d-flex" (click)="isCollapsed = !isCollapsed">
          <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
        </span>
        <div class="row w-100">
          <div class="col">
            <h1 class="text-truncate m-0" title="Cascadia Generic Landscape">
              Cascadia Generic Landscape
            </h1>
          </div>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content overflow-auto d-flex flex-column">

        <nz-tabset class="flex-grow-1 overflow-auto">
          <nz-tab nzTitle="Experiment parameters">
            <app-project-form class="d-flex flex-grow-1"></app-project-form>
          </nz-tab>
          <nz-tab nzTitle="Modeling">
          </nz-tab>
          <nz-tab nzTitle="Results">
          </nz-tab>
        </nz-tabset>

      </div>
    </nz-content>

    <nz-footer class="p-2">Puganov K., 2023. r.avaflow WEB APP - UI for work with r.avaflow & Mergili, M.,
      Pudasaini, S.P., 2014-2023. r.avaflow - The mass flow simulation tool. <a href="https://www.avaflow.org"
                                                                                target="_blank">https://www.avaflow.org</a>
    </nz-footer>

  </nz-layout>
</nz-layout>
